/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root { 
    --main-font-family: 'Inter';
    --accent-font-family: 'PressStart2P';
    --font-weight-text: 410;
    --font-weight-title: 715;
    --bg-gradient:  repeating-linear-gradient(to right, #d3d3d3 0px, #d3d3d3 2px, transparent 2px,transparent 4px),
                    repeating-linear-gradient(to bottom, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px), 
                    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
     --card-width: clamp(320px, 100vw, 700px);   
     --bg-color: #fff;  
     --border-color: #000000; 
     --card-gap: 25px;
     --font-size: 18px;
     --font-size-text: 14px;
     --heart-contour-color: #000;
     --heart-sparks-color: #FF0000;
    --accent-color: #000;
    --padding-disketa: 28px;
}